@import url(https://fonts.googleapis.com/css?family=Roboto+Slab);

#resize-ejm-au
{
position:absolute;
margin-top:100px;
margin-left:50px;
color:rgb(65, 197, 76);
}
div#envelope-ejm-au{
	width: 100%;
	padding:10px 0;
	border: 2px solid gray;
	border-radius:10px;
} 	
form#login-ejm-au{
	width:70%;
	margin:4% 15%;
}  


/* Makes responsive fields.Sets size and field alignment.*/
input[type=text]{
	margin-bottom: 20px;
	margin-top: 10px;
	width:100%;
	padding: 15px;
	border-radius:5px;
	border:1px solid #7ac9b7;
}
input[type=password]{
	margin-bottom: 20px;
	margin-top: 10px;
	width:100%;
	padding: 15px;
	border-radius:5px;
	border:1px solid #7ac9b7;
}
input[type=submit]#submit
{
	margin-bottom: 5px;
		display: inline-block;
		padding: 10px 15px 10px 15px;
		background-color: #406596;
		border-radius: 10px;
		border: none;
		text-decoration: none;
		color: #fff;
		font-size: 1.2em;
		letter-spacing: 0px;
	cursor:pointer;
}

textarea{
	width:100%;
	padding: 15px;
	margin-top: 10px;
    border:1px solid #7ac9b7;
	border-radius:5px; 
	margin-bottom: 20px;
	resize:none;
  } 
input[type=text]:focus,textarea:focus {
	border-color: #4697e4;
}
input[type=password]:focus,textarea:focus {
	border-color: #4697e4;
}
